<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Healthcare - Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" type="image/x-icon" href="static/av.png">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Smart Healthcare</h1>
            <p>Improving Patient Safety and Quality Care</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ADMIN</a></li>
                <li><a href="#" class="active">LOGIN</a></li>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">UPLOAD</a></li>
            </ul>
        </nav>
    </header>
    <div class="login-container">
        <form action="/" method="POST">
            <label for="patient-name" class="id-patient">Patient ID</label>
            <input type="text" id="patient-name" name="patient-name" required>
            
            <label for="password" class="id-patient">Patient Name</label>
            <input type="text" id="password" name="password" required>
            
            <button type="submit" class="submit">Run Analysis</button>
        </form>
    </div>
    {% if patient_id and patient_name %}
    <div class="output-container">
        <h4>Patient Details</h4>
        <p>Patient ID: {{ patient_id }}</p>
        <p>Patient Name: {{ patient_name }}</p>
    </div>
{% endif %}
    
</body>
</html>